* {
    transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
    background-color: rgba(221, 72, 20, .2);
    outline: none;
}
html, body {
    color: rgba(33, 37, 41, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
header {
    padding: .4rem 0 0;
}
.menu {
    padding: .4rem 10rem;
}
header ul {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
header li {
    display: inline-block;
}
header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
}
header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
    background-color: rgba(221, 72, 20, .2);
    color: rgba(221, 72, 20, 1);
}
header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
}
header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
    background-color: rgba(221, 72, 20, .8);
    color: rgba(255, 255, 255, .8);
}
header .heroe {
    margin: 0 10em;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
section {
    margin: 0 10rem;
    padding: 2.5rem 1.75rem 1.5rem 1.75rem;
}
section h1 {
    margin-bottom: 2.5rem;
}
section h2 {
    font-size: 120%;
    line-height: 2.5rem;
    padding-top: 1.5rem;
}
section pre {
    background-color: rgba(247, 248, 249, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    display: block;
    font-size: .9rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    word-break: break-all;
}
section code {
    display: block;
}
section a {
    color: rgba(221, 72, 20, 1);
}
section svg {
    margin-bottom: -5px;
    margin-right: 5px;
    width: 25px;
}
.further {
    background-color: rgba(247, 248, 249, 1);
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(242, 242, 242, 1);
}
.further h2:first-of-type {
    padding-top: 0;
}
footer {
    background-color: rgba(221, 72, 20, .8);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 2rem 1.75rem;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .25rem 1.75rem;
}
@media (max-width: 629px) {
    header ul {
        padding: 0;
    }
    header .menu-toggle {
        padding: 0 1rem;
    }
    header .menu-item {
        background-color: rgba(244, 245, 246, 1);
        border-top: 1px solid rgba(242, 242, 242, 1);
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    header .menu-toggle {
        display: block;
    }
    header .hidden {
        display: none;
    }
    header li.menu-item a {
        background-color: rgba(221, 72, 20, .1);
    }
    header li.menu-item a:hover,
    header li.menu-item a:focus {
        background-color: rgba(221, 72, 20, .7);
        color: rgba(255, 255, 255, .8);
    }
}

.btn-primary{
    color: #fff;
    background-color: #eb4034;
    border-color: #eb4034;
}

.login-card{
    margin: 17rem 0;
}
.register-card{
    margin: 11rem 0;
}
.logo-login{
    padding: 0 0.5em;
    width: 3rem;
    height: 2rem;
}
.login-header h4{
    margin-top: 0.1em;
}
.desc-login{
    margin: 1em 5em;
    padding: 1em 14em;
}
.login-form{
    margin: 1em 1em;
    padding: 1em 10em;
}
.login-input{
    color: #bfbfbf;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bfbfbf;
    opacity: 0.7;
    border-radius: 0.25rem;
    margin: 1.5em 0;
}
.login-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eb4034;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 85, 0, 0.25);
}
.img-login{
 width: 100%;
 height: 75%;
}
.menu-item{
    font-weight: bold;
}
li a{
    color: #6c6b6b !important;
}
.menu{
    border-bottom: 1px solid #d4d4d4; /* You can customize the color and thickness */
    padding-bottom: 10px;
}
.profile-section{
    color: #6c6b6b;
}
.profile-section span{
    color: #000;
    font-size: 1.6em;
}
.saldo-section {
    background-image: url('../asset/background-saldo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
  }
.desc-saldo{
    margin: 0 1.5em;
    padding: 2em 0;
    color: #fff;
    line-height: 34px;
}

.layanan-card h5{
    margin: 0.5em 1.5em;
    font-weight: 500;
    color: #495057;
}
.transaction-card{
    margin: 0.5em 0;
    padding: 1em 2em 1em 2em;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    /* opacity: 0.7; */
}
.transaction-card > .content-nominal > .transaction-nominal{
    font-weight: 650;
    font-size: large;
    color: #0bd104;
}
.transaction-card > .content-nominal > .transaction-time{
    font-size: small;
    font-weight: 500;
    opacity: 0.8;
}
.transaction-card > .transaction-desc{
    font-size: small;
    font-weight: bold;
}